@charset 'utf-8';
@import url(reset.css);
@import url(fancybox.css);

/* ----------------------------------------------------- Comment */

.js div { } /* apply only on JavaScript enabled browsers */
.ie7 div { } /* apply only on Internet Explorer 7 and below */
.ie6 div { } /* apply only on Internet Explorer 6 and below */

@font-face {
    font-family: "Mota Pixel";
    src: url(../fonts/MotaPixelRegular.ttf);
}

@font-face {
    font-family: "Mota Pixel";
    font-weight: bold;
    src: url(../fonts/MotaPixelBold.ttf);
}

body {
    background-color: #eeeeec;
    font-family: "Mota Pixel";
    font-size: 20px;
    line-height: 1.5;
    margin: 20px;
    text-align: center;
}

body > * {
    margin: 20px auto;
}

body > h1 {
    font-size: 40px;
}

a#github,
a#github > img {
    border: none;
    display: block;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9001;
}

hr {
    border: none;
    border-left: 1px solid black;
    height: 20px;
    margin: -20px auto;
    width: 0px;
}

table {
    display: block;
    max-width: 100%;
    overflow: auto;
    padding: 0 10px;
}

table > thead > tr > td {
    text-align: center;
}

table > * > tr > td {
    padding: 10px;
}

table > * > tr > td:first-child,
table > * > tr > td:nth-child(2),
table > * > tr > td:nth-child(5) {
    text-align: left;
}

table > * > tr > td:first-child {
    width: 2em;
}

table > * > tr > td:nth-child(2) {
    width: 4em;
}

table > * > tr > td:nth-child(5) {
    min-width: 6em;
}

table,
#barcode-container,
#fragment-count {
    background-color: white;
    border: 1px solid black;
    position: relative;
}

#notice {
    font-weight: bold;
}

#fragment-count {
    display:inline-block;
    font-size: 80px;
    font-weight: bold;
    min-width: 40px;
    padding: 0 20px;
}

#barcode-legend-container {
    display: inline-block;
    margin-bottom: 8px;
    position: relative;
}

#barcode-container {
    display: inline-block;
    width: 475px;
}

#barcode-container > span {
    font-size: 40px;
    display: block;
    position: absolute;
    text-align: center;
    top: 30px;
    width: 100%;
}

#barcode-container > canvas,
#barcode-container > img {
    display: block;
}

#barcode-container > canvas {
    cursor: crosshair;
}

#tooltip {
    background-color: white;
    border: 1px solid black;
    color: black;
    display: block;
    font-size: 40px;
    left: 200px;
    padding: 0 10px;
    position: absolute;
    top: -30px;
    visibility: hidden;
    width: 60px;
}

#errors {
    white-space: pre;
}

#legend {
    display: inline-block;
    margin-left: 10px;
    text-align: left;
}

.legend-plagiarism, .legend-no-plagiarism {
    border: 1px solid black;
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 5px;
}

.legend-plagiarism {
    background-color: black;
}

.legend-no-plagiarism {
    background-color: white;
}
